<link href="{{ url_for('static',filename='style/bootstrap/bootstrap.min.css') }}" rel="stylesheet" type="text/css"/ >
<link href="{{ url_for('static',filename='style/site.css') }}" rel="stylesheet" type="text/css" />
<link href="{{ url_for('static',filename='js/kendo/styles/kendo.common.min.css') }}" rel="stylesheet" type="text/css" />
<link href="{{ url_for('static',filename='js/kendo/styles/kendo.default.min.css') }}" rel="stylesheet" type="text/css" />
<script src="{{ url_for('static',filename='js/kendo/js/jquery.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/kendo/js/kendo.all.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/kendo/js/cultures/kendo.culture.zh-CN.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/kendo/js/messages/kendo.messages.zh-CN.min.js') }}"></script>